@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0 auto;
  background-color:#222222
}

.wrapper{
  position: sticky;
  background: #222222;
  width: 100%;
  margin-bottom: -15px;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
  text-align: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  font-size: 40px;
  font-weight: 600;
  color: rgb(250, 132, 7);
  font-family: 'Electrolize', sans-serif;
}

.content .logo a:hover{
color: #fff;
transition: all 0.3s ease;
opacity: 1;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color:#222222
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #222222;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}
.co li{
        list-style: none;
        display: inline-block;
}
a:hover{
  color:rgb(250, 132, 7);
  transition: all 0.3s ease;
}

.user{
  color: #fff;
  margin: 5px;
}


/* Sous-Menu  */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

.content .links li:hover  a{
  color: rgb(250, 132, 7);
}

.content .links ul li:hover  a{
  color: rgb(255, 255, 255);
}

.wrapper label i:hover{
  color: rgb(250, 132, 7);
  transition: all 0.2s ease;
}
.wrapper form a:hover{
  color: rgb(250, 132, 7);
  transition: all 0.2s ease;
}


@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* sous-menu responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}
/*Header*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background-color: #000000;
  color: white;
}

header h1{
  margin-top: 40px;
  font-size: 35px;
  max-width: 500px;
  text-align: center;
  background-color: #000000;
  margin-bottom: 40px;
}
/*Fin Header*/


/*Produits description*/
.main{
    margin-top: 80px;           /*On définit une marge de 80 pixels vers le haut*/
    display: flex;
    flex-direction: column;     /*Permet de placer les éléments en colonne*/
    justify-content: center;    /*On place tout le contenu au centre*/
    align-items: center;        /*On aligne les éléments contenus dans la classe main au centre*/
    color: #fff;              /*On définit la couleur de la police en blanc*/
    margin-bottom: 150px;       /*On définit une marge de 150 pixels vers le bas*/
}

.produits{
    display: flex;
    flex-wrap: wrap;
}


.produits .carte{
    cursor: pointer;     /*Quand on passe la souris sur la "carte" du produit, le curseur devient une main qui montre que l'élément est cliquable*/
}

.produits .carte1{
  margin-right: 80px;    /*On définit une marge à droite de 80 pixels*/ 
}

.produits .carte2{
  margin-right: 80px;    /*On définit une marge à droite de 80 pixels*/ 
}



.produits .carte img{
    width: 350px;                 /*On définit la longueur et la largeur de l'image à 350 pixels*/
    background-color: #111111;  /*On définit la couleur de fond de l'image en gris foncé (les images sont des .png avec un fond transparent)*/
}    


.produits .carte .carte-header{         /*On indique que le code suivant n'est valable que pour les éléments contenus dans la classe .card-header*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;                   /*On définit une marge de 18 pixels vers le haut*/
}

.produits .carte .carte-body p{   /*On indique que le code suivant n'est valable que pour l'élément paragraphe dans la classe .card-body*/
    margin-top: 20px;             /*On définit une marge de 20 pixels vers le haut*/
    margin-bottom: 20px;          /*On définit une marge de 20 pixels vers le bas*/
    color: #999;                /*On définit la couleur du texte en gris clair*/
}  

.produits a{                      /*On indique que le code suivant n'est valable que pour l'élément ancre ("<a>") dans la classe .produits*/
  color: rgb(250, 132, 7);      /*On définit la couleur en orange*/
}

.produits a:hover{                /*On indique que le code suivant n'est valable que pour l'élément ancre ("<a>") lorsqu'on passe le curseur dessus, dans la classe .produits*/
  color: white;                 /*Quand on passe le curseur sur l'élément ancre ("<a>"), il devient blanc*/
  transition: all 0.1s ease;      /*On crée un effet de transition pour chaque case, la couleur blanche apparaît petit à petit pour au final apparaître totalement au bout de 0.1s*/
}

/*Produits description*/

/*Footer*/

footer{
background: #222222;
height: auto;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #fff;
}
.content-footer{
  align-items: center;
  justify-content: center;
  text-align: center;

}

.content-footer h3{
  text-transform: capitalize;
  line-height: 48px;
  font-weight: 400px;
  color: rgb(250, 132, 7)
}

.reseaux{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.reseaux li{
  margin:  0 10px; ;
}
.reseaux a{
text-decoration: none;
color: #fff;
font-size: 35px;
}
.reseaux a li{
font-size: 20px;
}
.reseaux a:hover i{
  color:rgb(250, 132, 7);
  transition: all 0.1s ease;
  }
.bas{
  background: #222222;
  padding: 20px 0 ;
  text-align: center;
}
.bas p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}